###############################################################################
# LOCALHOST.CFG - SAMPLE OBJECT CONFIG FILE FOR MONITORING THIS MACHINE
#
#
# NOTE: This config file is intended to serve as an *extremely* simple
#       example of how you can create configuration entries to monitor
#       the local (Linux) machine.
#
###############################################################################



###############################################################################
#
# HOST DEFINITION
#
###############################################################################

# Define a host for the local machine

define host {

    use                     linux-server            ; Name of host template to use
                                                    ; This host definition will inherit all variables that are defined
                                                    ; in (or inherited by) the linux-server host template definition.
    host_name               web
    alias                   web
    address                 172.31.5.190
    notifications_enabled   1
    check_interval                  1      ; Check every 1 minute
    retry_interval                   0.25   ; Retry every 15 seconds if the first check fails
    max_check_attempts              1      ; Number of attempts before considering the host down
    check_period                     24x7   ; Ensure checks are active all the time
}



###############################################################################
#
# HOST GROUP DEFINITION
#
###############################################################################

# Define an optional hostgroup for Linux machines




###############################################################################
#
# SERVICE DEFINITIONS
#
###############################################################################

# Define a service to "ping" the local machine

define service {

    use                     local-service           ; Name of service template to use
    host_name               web
    service_description     PING
    check_command           check_ping!100.0,20%!500.0,60%
    notifications_enabled   1
    check_interval                  1      ; Check every 1 minute
    retry_interval                   0.25   ; Retry every 15 seconds if the first check fails
    max_check_attempts              1      ; Number of attempts before considering the host down
    check_period                     24x7   ; Ensure checks are active all the time
}



# Define a service to check the disk space of the root partition
# on the local machine.  Warning if < 20% free, critical if
# < 10% free space on partition.

define service {

    use                     local-service           ; Name of service template to use
    host_name               web
    service_description     Root Partition
    check_command           check_nrpe!check_hda1
    notifications_enabled   1
    check_interval                  1      ; Check every 1 minute
    retry_interval                   0.25   ; Retry every 15 seconds if the first check fails
    max_check_attempts              1      ; Number of attempts before considering the host down
    check_period                     24x7   ; Ensure checks are active all the time
}



# Define a service to check the number of currently logged in
# users on the local machine.  Warning if > 20 users, critical
# if > 50 users.

define service {

    use                     local-service           ; Name of service template to use
    host_name               web
    service_description     Current Users
    check_command           check_nrpe!check_users
    notifications_enabled   1
    check_interval                  1      ; Check every 1 minute
    retry_interval                   0.25   ; Retry every 15 seconds if the first check fails
    max_check_attempts              1      ; Number of attempts before considering the host down
    check_period                     24x7   ; Ensure checks are active all the time
}



# Define a service to check the number of currently running procs
# on the local machine.  Warning if > 250 processes, critical if
# > 400 processes.

define service {

    use                     local-service           ; Name of service template to use
    host_name               web
    service_description     Total Processes
    check_command           check_nrpe!check_total_procs
    event_handler            handle_process_alert      ; Set the event handler
    event_handler_enabled    1                        ; Ensure event handler is enabled
    notifications_enabled   1
    check_interval                  0.2      ; Check every 1 minute
    retry_interval                   0.2   ; Retry every 15 seconds if the first check fails
    max_check_attempts              1      ; Number of attempts before considering the host down
    check_period                     24x7   ; Ensure checks are active all the time
}



# Define a service to check the load on the local machine.

define service {

    use                     local-service           ; Name of service template to use
    host_name               web
    service_description     Current Load
    check_command           check_nrpe!check_load
    notifications_enabled   1
    check_interval                  1      ; Check every 1 minute
    retry_interval                   0.25   ; Retry every 15 seconds if the first check fails
    max_check_attempts              1      ; Number of attempts before considering the host down
    check_period                     24x7   ; Ensure checks are active all the time
}



# Define a service to check the swap usage the local machine.
# Critical if less than 10% of swap is free, warning if less than 20% is free

define service {

    use                     local-service           ; Name of service template to use
    host_name               web
    service_description     Swap Usage
    check_command           check_nrpe!check_swap
    notifications_enabled   1
    check_interval                  1      ; Check every 1 minute
    retry_interval                   0.25   ; Retry every 15 seconds if the first check fails
    max_check_attempts              1      ; Number of attempts before considering the host down
    check_period                     24x7   ; Ensure checks are active all the time
}



# Define a service to check SSH on the local machine.
# Disable notifications for this service by default, as not all users may have SSH enabled.


# Define a service to check HTTP on the local machine.
# Disable notifications for this service by default, as not all users may have HTTP enabled.
